/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 0;
  width: 30%;
  border: 0;
  border-top: 10px solid #ccc;
  margin: 0 0 1em 0;
  padding: 0; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
  max-width: 100%; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

body {
  font-size: 1em;
  line-height: 1.4;
  font-family: "signo", Helvetica, Helvetica Neue, Arial;
  background: white url(../img/contours.png) no-repeat;
  background-size: cover; }

p, li, aside, button {
  font-weight: 200;
  letter-spacing: 0.01em; }

button, .button {
  width: 6em;
  margin: 0;
  padding: 0.5em 0.8em;
  border: none;
  background: none;
  color: inherit;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  color: #ff4115;
  border: 1px solid #ff4115;
  text-decoration: none; }

/* Wayra */
.button--wayra {
  overflow: hidden;
  -webkit-transition: border-color 0.3s, color 0.3s;
  transition: border-color 0.3s, color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }

.button--wayra::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 100%;
  background: #ff4115;
  color: #fff;
  z-index: -1;
  -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
  transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
  transition: transform 0.3s, opacity 0.3s, background-color 0.3s; }

.button--wayra:hover {
  color: #fff;
  border-color: #ff4115; }

.button--wayra.button--inverted:hover {
  color: #ff4115;
  border-color: #fff; }

.button--wayra:hover::before {
  opacity: 1;
  background-color: #ff4115;
  -webkit-transform: rotate3d(0, 0, 1, 0deg);
  transform: rotate3d(0, 0, 1, 0deg);
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }

.button--wayra.button--inverted:hover::before {
  background-color: #fff; }

.wrapper {
  width: 60%;
  padding: 2em 4em;
  margin: 2em auto; }
  .wrapper:after {
    display: table;
    clear: both;
    content: ''; }

.headerContainer header .text {
  float: left; }
.headerContainer header h1 {
  font-size: 4em;
  line-height: 0.85;
  color: #ff4115;
  margin: 0; }
.headerContainer header aside {
  opacity: 0.5;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  margin: 0.4em 0 0; }
.headerContainer header button {
  float: right;
  width: 8em; }

.mainContainer .wrapper {
  padding: 4em;
  transition: all 0.5s ease; }
.mainContainer .wrapper:hover {
  background: #fff;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3); }
.mainContainer article header {
  width: 30%; }
.mainContainer article:after {
  display: table;
  clear: both;
  content: ''; }
.mainContainer article hr {
  margin: 0; }
.mainContainer article h2 {
  font-weight: 500;
  border-top: 10px solid #ccc;
  margin: 0;
  padding-top: 1em;
  line-height: 1;
  color: #ff4115; }
.mainContainer article .text {
  float: left;
  width: 30%; }
.mainContainer article .button {
  clear: both;
  float: left;
  margin-top: 0.5em;
  width: auto; }
.mainContainer article .sliderWrapper {
  float: right;
  width: 65%;
  position: relative; }
  .mainContainer article .sliderWrapper:after {
    display: table;
    clear: both;
    content: ''; }
  .mainContainer article .sliderWrapper .unslider-arrow {
    color: #ff4115;
    font-size: 3em;
    font-weight: 700;
    transition: all 0.2s ease; }
  .mainContainer article .sliderWrapper .unslider-arrow:hover {
    color: #c82600; }
  .mainContainer article .sliderWrapper .prev:hover {
    left: 15px; }
  .mainContainer article .sliderWrapper .next:hover {
    right: 15px; }

footer hr {
  border-top: 10px solid #ff4115; }
footer .socialLinks a {
  text-decoration: none; }
footer .socialIcon {
  fill: #999;
  width: 1.5em;
  margin-right: 1em;
  transition: all 0.2s ease; }
footer .socialIcon:hover {
  fill: #ff4115; }

.modalContainer {
  background: #ff4115;
  color: #fff;
  z-index: 3;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transform: rotate3d(0, 0, 1, -90deg) translate3d(0, -10em, 0);
  transform: rotate3d(0, 0, 1, -90deg) translate3d(0, -10em, 0);
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-transition: -webkit-transform 0.15s, opacity 0.3s, background-color 0.3s;
  transition: transform 0.15s, opacity 0.3s, background-color 5s; }
  .modalContainer .modalContent {
    opacity: 0; }
    .modalContainer .modalContent p {
      padding-right: 10em; }
    .modalContainer .modalContent button {
      width: 8em;
      float: right;
      color: #fff;
      border: 1px solid #fff;
      background: none;
      transition: all 0.3s ease; }
    .modalContainer .modalContent button:hover {
      background: #fff;
      color: #ff4115; }

.shown {
  background: #c82600;
  opacity: 1;
  -webkit-transform: rotate3d(0, 0, 1, 0deg) translate3d(0, 0, 0);
  transform: rotate3d(0, 0, 1, 0deg) translate3d(0, 0, 0);
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%; }
  .shown .modalContent {
    opacity: 1;
    transition: opacity 1.3s ease-in-out; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
