$orange: #ff4115;
$grey: #1e1e2d;

@mixin clearfix {
  &:after {
	display: table;
	clear: both;
	content: '';
  }
}


/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
*{
	box-sizing: border-box;
}
html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

hr {
	display: block;
	height: 0;
	width: 30%;
	border: 0;
	border-top: 10px solid #ccc;
	margin: 0 0 1em 0;
	padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
	max-width: 100%;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}
body {
	font-size: 1em;
	line-height: 1.4;
	font-family: "signo", Helvetica, Helvetica Neue, Arial;
	/*background: #fff url(../img/contours.png) no-repeat;
	background-size: cover;*/
}
.background{
	z-index: -1;
	position: fixed;
	min-width: 100%;
	min-height: 100%;
	top: 0;
	bottom: 0;
	text-align: center;
	margin: 0 auto;
}
h1{
	font-family: 'lust-display', serif;
	font-size: 15vmin;
	line-height: 0.85;
	letter-spacing: -0.03em;
	color: $orange;
	margin: 0;
	font-weight: 400;
}
h2, h3{
	font-weight: 500;
}
p, li, aside, button{
	font-weight: 200;
	letter-spacing: 0.01em;
	font-size: 0.75em;
	line-height: 1.6;
	color: $grey;
}
button, .button{
	width: 6em;
	margin: 0;
	padding: 0.5em 0.8em;
	border: none;
	background: none;
	color: inherit;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	color: $orange;
	border: 1px solid $orange;
	text-decoration: none;
}
/* Wayra */
.button--wayra {
	overflow: hidden;
	-webkit-transition: border-color 0.3s, color 0.3s;
	transition: border-color 0.3s, color 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--wayra::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 150%;
	height: 100%;
	background: $orange;
	color: #fff;
	z-index: -1;
	-webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
	transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
	-webkit-transform-origin: 0% 100%;
	transform-origin: 0% 100%;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
	transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}
.button--wayra:hover {
	color: #fff;
	border-color: $orange;
}
.button--wayra.button--inverted:hover {
	color: $orange;
	border-color: #fff;
}
.button--wayra:hover::before {
	opacity: 1;
	background-color: $orange;
	-webkit-transform: rotate3d(0, 0, 1, 0deg);
	transform: rotate3d(0, 0, 1, 0deg);
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--wayra.button--inverted:hover::before {
	background-color: #fff;
}



.wrapper {
	@include clearfix;
	width: 100%;
	padding: 1em;
	margin: 0;
	max-width: 75em;
}

.headerContainer header{
	.text{
		float: left;
	}
	aside{
		opacity: 0.5;
		letter-spacing: 0.3em;
		text-transform: uppercase;
		margin: 0.4em 0 0;
	}
	button{
		float: right;
		width: 5em;
	}
	
}


.mainContainer{ 
	.wrapper{
		transition: all 0.5s ease;
		margin-bottom: 3em;
	}
	.wrapper:hover{
		background: #fff;
		box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
	}
	article{
		@include clearfix;
		hr{
			margin: 0;
		}
		h2{
			margin: 0 0 1em;
			line-height: 1;
			color: $orange;
			padding-top: 0.3em;
		}

		.button{
			float: left;
			margin-top: 0.5em;
			width: auto;
		}
		p{
			clear: both;
			@include clearfix;
		}
		.unslider{
			padding-bottom: 3em;
		}
		.sliderWrapper{
			@include clearfix;
			position: relative;
			.unslider-arrow{
				@include clearfix;
				color: $orange;
				font-size: 2em;
				font-weight: 700;
				transition: all 0.2s ease;
			}
			.unslider-arrow:hover{
				color: darken($orange, 15%)
			}
			.prev:hover{
				left: 15px;
			}
			.next:hover{
				right: 15px;
			}

		}
	}
}
footer{
	padding-bottom: 1em;
	hr{
		border: none;
		position: relative;
		overflow: hidden;
		height: 10px;
		background: $orange;
		
	}
	hr:after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		width: 100%;
		height: 10px;
		color: $grey;
		background: green;
		transition: all 0.2s ease;
		transform: translatex(-100%);
	}

	hr:hover::after{
		transform: translatex(0);
	}
	a{
		text-decoration: none;
		transition: all 0.2s ease;
	}
	.copyAddress{
		width: 1.3em;
		margin-left: 0.5em;
		cursor: pointer;
		fill: #ccc;
		transition: all 0.2s ease;
	}
	.copyAddress:hover{
		fill: $orange;
	}
	.emailLink{
		font-size: 1.125em;
		color: #ccc;
	}
	.emailLink:hover{
		color: $orange;
	}
	.socialLinks{
		padding:  1.5em 0;
	}
	.socialIcon{
		fill: #ccc;
		width: 1.5em;
		margin-right: 1em;
		transition: all 0.2s ease;
	}
	.socialIcon:hover{
		fill: $orange;
	}
	p{	
		font-size: 0.875em;
		color: #ccc;
		margin-top: 0;
	}
}



.modalContainer{
	background: $orange;
	color: #fff;
	z-index: 3;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	opacity: 0;
	-webkit-transform: rotate3d(0, 0, 1, -90deg) translate3d(0, -10em, 0);
	transform: rotate3d(0, 0, 1, -90deg) translate3d(0, -10em, 0);
	-webkit-transform-origin: 0% 100%;
	transform-origin: 0% 100%;
	-webkit-transition: -webkit-transform 0.15s, opacity 0.3s, background-color 2s;
	transition: transform 0.15s, opacity 0.3s, background-color 2s;
	.modalContent{
		opacity: 0;
		button{
			width: 5em;
			float:right;
			color: #fff;
			border: 1px solid #fff;
			background: none;
			transition:  all 0.3s ease;
		}
		button:hover{
			background: #fff;
			color: $orange;
		}
		.modalInnerWrapper{
			clear: both;
			padding-top: 0.01em;
		}
		h1, p, li{
			color: #fff;
		}
		hr{
			margin: 2em 0 .2em;
			border-top: 10px solid #fff;
		}
		h3{
			margin: 0;
		}
		ul{
			padding: 0;
			margin-top: 0.5em;
		}
	}
}
.shown{
	position: fixed;
	overflow: auto;
	background: darken($orange, 10%);
	opacity: 1;
	-webkit-transform: rotate3d(0, 0, 1, -0deg) translate3d(0, 0, 0);
	transform: rotate3d(0, 0, 1, -0deg) translate3d(0, 0, 0);
	-webkit-transform-origin: 0% 100%;
	transform-origin: 0% 100%;
	.modalContent{
		opacity: 1;
		transition: opacity 0.8s ease-in;
	}

}
.locked{
	overflow: hidden;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */




@media only screen and (min-width: 24em) {
	p, li, aside, button{
		font-size: 1em;
		line-height: 1.5;
	}


	.mainContainer{
		article{
			.sliderWrapper{
				.unslider-arrow{
					font-size: 2.5em;
				}
			}
		}
	}
}
@media only screen and (min-width: 32em) {
	.wrapper{
		max-width: 90%;
		margin: 0 auto;
	}
}
@media only screen and (min-width: 38em) {
	.wrapper{
		padding: 2em 3em;
		max-width: 90%;
		margin: 0 auto;
	}
	.mainContainer{
		article{
			h2{
				font-size: 2em;
				padding-top: 0.5em;
			}
			p{
				margin: 2em 0;
			}
			.sliderWrapper{
				.unslider-arrow{
					font-size: 3em;
				}
			}
		}
	}
	footer{
		.emailLink{
			font-size: 1.25em;
		}
	}
}
@media only screen and (min-width: 50em) {  /* initate 2 column layout */
	.wrapper{
		margin: 2em auto;
		padding: 3em;
		transition: all 0.5s ease;
	}
	button{
		width: 8em;
	}
	.mainContainer{ 
		.wrapper:hover{
			background: #fff;
			box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
		}
		article header{
			width: 30%;
		}
		article{
			@include clearfix;
			hr{
				display: none;
			}
			h2{
				font-weight: 500;
				border-top: 10px solid #ccc;
				margin: 0;
				padding-top: 1em;
				line-height: 1;
				color: $orange;
			}
			.text{
				float:left;
				width: 30%;
				clear: none;
			}
			
			.sliderWrapper{
				float: right;
				width: 65%;
			}
		}
	}
	.modalContainer{
		.modalContent{
			.modalInnerWrapper{
				clear: none;
				float: left;
				max-width: 30em;
			}
		}
	}
	footer{
		.emailLink{
			font-size: 1.25em;
			float: left;
			display: inline-block;
		}
		p{
			clear: both;
			float: left;
		}
		.socialLinks{
			float: right;
		}
	}
}

@media only screen and (min-width: 70em) { 
	.wrapper{
		max-width: 70em;
		margin: auto;
	}
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}


/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
	*,
	*:before,
	*:after {
		background: transparent !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}